$main-font: 'Work Sans', sans-serif;
$secondary-font: 'Space Mono', monospace;
$accent-color: #A259FF;
$card-background-color: #3B3B3B;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #2B2B2B;
  color: white;
  font-family: $main-font;
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.container {
  padding: 80px 0;
  max-width: 1050px;
  margin: 0 auto;

  h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
  }
}

.btn {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 30px;
  border-radius: 20px;
  gap: 12px;
  color: white;
  border: 1px solid $accent-color;

  &.fill {
    background-color: $accent-color;
  }

  &:hover {
    background-color: darken($accent-color, 10%);

    path {
      fill: red;
    }
  }
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;

  .nav-link + .nav-link {
    margin-left: 20px;
  }
}
