@import 'common';

#hero {
  display: flex;
  gap: 30px;

  h1 {
    font-size: 67px;
    line-height: 74px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  p {
    font-size: 22px;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  .btn {
    width: max-content;
    margin-bottom: 30px;
  }

  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
    font-size: 24px;
    line-height: 38px;

    b {
      font-family: $secondary-font;
      font-size: 28px;
      font-weight: 700;
      line-height: 39px;
    }
  }

  .hero-card-image {
    display: block;
  }

  .card-content {
    padding: 22px 20px;
    background-color: $card-background-color;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .card-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    margin-bottom: 10px;
  }

  .card-author {
    display: flex;
    gap: 12px;
    font-size: 16px;
    line-height: 22px;
  }
}

#categories {
  .categories-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .category-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background: $card-background-color;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7.5px);
  }

  .category-card-top {
    position: relative;
    display: flex;

    span {
      position: absolute;
      z-index: 1;
      bottom: 50px;
      width: 100%;
      text-align: center;
    }
  }

  .category-card-bottom {
    padding: 20px 30px 25px 30px;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
}

@media (max-width: 850px) {
  #hero {
    position: relative;

    h1 {
      font-size: 28px;
      line-height: 140%;
      margin-bottom: 10px;

      br {
        display: none;
      }
    }

    p {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 395px;
    }

    .hero-card {
      position: absolute;
      left: 30px;
      right: 30px;
      top: 234px;
    }

    .hero-card-image {
      width: 100%;
      height: 206px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .card-content {
      padding: 20px;
    }

    .btn {
      width: 100%;
      margin-bottom: 40px;
    }

    .statistics {
      font-size: 16px;
      line-height: 140%
    }

    .statistics b {
      font-size: 22px;
      line-height: 160%;
    }
  }
}